<div class="_article">
    <h2>About Me</h2>
    <hr/>
    <div>Motivated Software Engineer with 5+ years of hands on experience on developing, testing, and deploying new software
    systems and application ensuring optimal performance by testing, debugging, and maintaining application within an business
    owned architectural work flow and design.
    </div>
    <div>
    Skilled in implementing 
        <ul>
            <li  *ngFor="let skill of skills">{{skill+','}}</li>
        </ul> 
    with knowledge of SOLID principle, algorithms, and design patterns.
    </div>
</div>
